/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/03/2021, 20:55:29
    Author     : Lobo
*/

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: ghostwhite;
}
.user_card {
    height: 560px;
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    background: #34b1b6;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.brand_logo_container {
    position: absolute;
    height: 111px;
    width: 214px;
    top: -25px;
    border-radius: 5px;
    background: #16623B;
    padding-top: 4px;
    text-align: center;
}
.brand_logo {
    height: 107px;
    width: 206px;
    border-radius: 5px;
    border: 2px;
}
.form_container {
    margin-top: 100px;
}
.cadastrar_btn {
    margin-top: 10px;
    background: #16623B;
    color: white;
    margin-left: 5px;
}

.cadastrar_btn:hover {
    background-color: #67967e;
    color: ghostwhite;
}

.cadastrar_btn:focus {
    box-shadow: none;
    outline: 0px;
}
.voltar_btn {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 15px;
    margin-top: 10px;
    background: #16623B ;
    color: white;
}

.voltar_btn:hover {
    background-color: #c0392b;
    color: ghostwhite;
}

.voltar_btn:focus {
    box-shadow: none;
    outline: 1px;
}

.cadastrar_container {
    padding: 0 2rem;
}

.voltar_container {
    padding: 0 2rem;
}

.input_pass:focus {
    box-shadow: none;
    outline: 0px;
}
.ml-2 {
    color: #FFD700;
}

.mb-3 {
    width: 300px;
    border-radius: 5px;
}
.form-groupe {
    margin-top: -10px;
}
.input-group-text {
    width: 35px;
    padding-right: 25px;
    background-color: #16623B;
    border-color: #16623B;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.fa-user {
    color: ghostwhite;
}
.fa-key {
    color: ghostwhite;
}
.fa-book {
    color: ghostwhite;
}
.fa-phone {
    color: ghostwhite;
}
.fa-envelope {
    color: ghostwhite;
}
.fa-arrow-up {
    color: ghostwhite;
}