/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/03/2021, 21:48:17
    Author     : Lobo
*/

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: ghostwhite;
}
.user_card {
    height: 450px;
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    background: #34b1b6;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.brand_logo_container {
    position: absolute;
    height: 111px;
    width: 214px;
    top: -25px;
    border-radius: 5px;
    background: #16623B;
    padding-top: 4px;
    text-align: center;
}
.brand_logo {
    height: 107px;
    width: 206px;
    border-radius: 5px;
    border: 2px;
}
.form_container {
    margin-top: 80px;
}
.send_btn {
    width: 30%;
    background: #16623B !important;
    color: white !important;
}
.send_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #16623B !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_	,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.fa-envelope {
    color: ghostwhite;
}
.ml-2 {
    color: #FFD700;
    font-weight: bold;
}
a:hover {
    color: #c0392b;
}
.fa-key {
    color: #c0392b;
}
.body-text {
    font-size: 0.9rem;
    color: white;
    margin-top: 15px;
}
.header-text {
    color: white;
    margin-left: 42px;
    margin-top: 20px;
}
.mr-1 {
    color: #FFD700;
}