<!DOCTYPE html>
<html>
    <head>
	<title>Enlarge - Redefinir Senha</title>
	<meta charset="UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.1/css/all.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/esqueceuStyle.css">
    </head>
    <body>
	<div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="css/images/Logo3.png" class="brand_logo" alt="Logo">
			</div>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <form>
                            <div class="input-group mb-3 header-text">
                                <h4 class="header-text mb-2" color="#FFFFFF" style="text-shadow: 1px 1px 2px black;">Redefina sua senha</h4>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
				</div>
				<input type="text" name="login" class="form-control transparent-input" value="" placeholder="e-mail">
                            </div>
                            <p class="body-text" color="#FFFFFF" style="text-shadow: 1px 1px 2px black;">Nós enviaremos um link por e-mail, onde você poderá redefinir sua senha.</p>
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <button type="button" name="button" class="btn btn-primary">Enviar</button>
                            </div>
			</form>
                    </div>
                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            <font color="#FFFFFF" style="text-shadow: 1px 1px 2px black;">Novo usuário?</font> <a href="cadastro.html" class="ml-2">Cadastrar</a>
			</div>
			<div class="d-flex justify-content-center links">
                            <a href="login.html" class="mr-1"> <i class="fa fa-angle-left fa-lg" style="text-shadow: 1px 1px 2px black;"> </i> </a> <font color="#FFFFFF" style="text-shadow: 1px 1px 2px black;">Voltar à página de login</font>
			</div>
                    </div>
		</div>
            </div>
	</div>
    </body>
</html>